/* Basic Styles */

body, p, td, th {
  font-family: sans-serif;
}

/* client styles */

.canvas {
  border: 1px solid black;
}

.canvas button {
  float: right;
}

/* webservice styles */

ul.samples > li {
  float: left;
}