#footer
  Sketch-A-Char is a project by <a href="http://kirelabs.org">Daniel Kirsch</a>. It's the successor of <a href="http://detexify.kirelabs.org">Detexify</a>. This an almost feature-complete prototype.