%h1 Charts

%h2 Top Samples

%ol
  - @top_samples.each do |sample|
    %li= render sample

%h2 Flop Samples

%ol
  - @flop_samples.each do |sample|
    %li= render sample

%h2 Top Users

%ol
  - @top_users.each do |user|
    %li= render user
