%h1 Charts

.charts

  %h2 Top Samples

  %ol
    - @top_samples.each do |sample|
      %li
        %br
        = render sample

.charts

  %h2 Flop Samples

  %ol
    - @flop_samples.each do |sample|
      %li
        %br
        = render sample

.charts

  %h2 Top Users

  %ol
    - @top_users.each do |user|
      %li
        %br
        = render user
