%h1 Sketch-A-Char

#app-area
  #canvas-area
    #canvas
    #canvas-controls
      %button.clear clear
      %button.submit submit
  
  #hitlist-area

#help
  %h2 Help
  %p
    Sketch-A-Char recognizes hand-drawn symbols.
    Draw a symbol onto the canvas and click submit to get a list of the most likely candidates.

%script{id: 'hits-template', type: 'text/x-jquery-tmpl'}
  %li
    %h3.name ${symbol.name}
    %p.description ${symbol.description}
    {{if symbol.latex_representations.length}}
    %h4 LaTeX:
    %ul.latex
      {{each symbol.latex_representations}}
      %li
        %img{src:"${image}"}
        {{if package}}
        %p.package Package: <code>\usepackage{ <kbd>${package}</kbd> }</code>
        {{/if}}
        %p.command Command: <kbd>${command}</kbd>
      {{/each}}
    {{/if}}
    {{if symbol.unicode_representations.length}}
    %h4 Unicode:
    %ul.unicode
      {{each symbol.unicode_representations}}
      %li
        %p.char <kbd>${unicode}</kbd>
        %p.codepoint <code>${hex_codepoint}</code>
      {{/each}}
    {{/if}}
    %p.score
      Score:
      %span.score <em>${score}</em>
