%h1 Sketch-a-char

#app-area
  #canvas-area
    #canvas
    #canvas-controls
      %button.clear clear
      %button.submit submit
  
  #hitlist-area

#help
  %h2 Help
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%script{id: 'hits-template', type: 'text/x-jquery-tmpl'}
  %li
    %h3.name ${symbol.name}
    %p.description ${symbol.description}
    {{if symbol.latex_representations.length}}
    %h4 LaTeX:
    %ul.latex
      {{each symbol.latex_representations}}
      %li
        %img{src:"${image}"}
        {{if package}}
        %p.package Package: <code>\usepackage{ <kbd>${package}</kbd> }</code>
        {{/if}}
        %p.command Command: <kbd>${command}</kbd>
      {{/each}}
    {{/if}}
    {{if symbol.unicode_representations.length}}
    %h4 Unicode:
    %ul.unicode
      {{each symbol.unicode_representations}}
      %li
        %p.char <kbd>${unicode}</kbd>
        %p.codepoint Codepoint: <code>U+${codepoint}</code>
      {{/each}}
    {{/if}}
    %p.score
      Score:
      %span.score <em>${score}</em>