#symbol-training-area
  #symbol-area
    = render @sym

  - if can? :create, Sample
    #training-area
      %div#training-canvas.canvas
      %a#train{href:"#"} train
      %a#clear{href:"#"} clear

      - content_for :javascript do
        :javascript
          var canvas = $.canvassify('#training-canvas', {width: 400, height: 400});
          $('#clear').click(function(){canvas.clear();return false;});
          $('#train').click(function(){
            $.ajax({
              url: '#{ sym_samples_path(@sym) }',
              dataType: "script",
              type: "POST",
              processData: false,
              contentType: "application/json",
              data: JSON.stringify({sample:{data: canvas.strokes}})
            });
            canvas.clear();return false;
          });

#help
  %h2 Help
  - if can? :create, Sample
    %p
      Here you can see and add samples for this symbol. Good samples increase the performance of the recognition so please vote for good and against bad samples!
  - else
    %p
      Here you can see the samples for this symbol. To also be able to add samples you must log in.
  
#samples-area
  %h2 Samples
  %ul.samples
    - @sym.samples.top.each do |sample|
      %li= render sample