/* cornsilk, whitesmoke, royalblue */

/* Basic Styles */

html {
  overflow-y: scroll;
}

body, p, td, th {
  font-family: sans-serif;
}

/*** main layout ***/
#wrapper {
  min-width: 420px;
  max-width: 960px;
  margin: auto;
}

#header, #footer {
  clear: both;
}

#footer {
  background: cornsilk;
  border-top: 1px dashed black;
  padding: 10px 0;
  margin: 30px 0 0 0;
  text-align: center;
}

h1 {
  clear: both;
}

.flash {
  margin: 10px 0;
}

.flash.notice {
  color: green;
}

.flash.error {
  color: red;
}

#app-area, #symbol-list-area, #symbol-training-area {
  float: left;
  margin: 0 30px 30px 0;
}

ul.signin li.openid a {
  background: image-url('social_signin_buttons_icons/openid_signin.png') no-repeat left top;
}

ul.signin li.twitter a {
  background: image-url('social_signin_buttons_icons/twitter_signin.png') no-repeat left top;
}

ul.signin li.facebook a {
  background: image-url('social_signin_buttons_icons/facebook_signin.png') no-repeat left top;
}

ul.signin li.openid a,
ul.signin li.twitter a,
ul.signin li.facebook a {
  display: block;
  width: 150px;
  height: 0px;
  overflow: hidden;
  padding-top: 24px;
}

ul.signin li.openid a:hover,
ul.signin li.twitter a:hover,
ul.signin li.facebook a:hover {
  background-position: left -24px;
}

ul.signin li.openid a:active,
ul.signin li.twitter a:active,
ul.signin li.facebook a:active {
  background-position: left -48px;
}

/*** samples ***/

#samples-area {
  clear: both;
}

#samples-area ul.samples {
  list-style: none;
  padding: 0;
}

#samples-area ul.samples > li {
  float: left;
  width: 320px;
  margin: 0 0 30px 0;
  padding: 0;
}

/*** charts ***/

.charts {
  width: 320px;
  float: left;
  margin: 0 0 30px 0;
}

.charts ol {
  margin: 0;
  padding: 0;
}

.charts ol li {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

/**** client styles ****/

/* canvas */

.canvas {
  border: 1px solid black;
}

.canvas button {
  float: right;
}

/* hit list */

ul.hits, ul.symbols {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

div.symbol {
  width: 400px;
  margin: 0 0 10px 0;
}

ul.hits li h3.name,
.symbol h3.name {
  text-align: center;
  background: cornsilk;
  border-radius: 15px 15px 0 0;
  padding: 5px;
  margin: 20px 0 10px;
}

ul.hits li p.description,
.symbol p.description {
  background: white;
  padding: 0 10px;
  margin: 10px 0;
}

ul.hits li.collapsed {
  text-align: center;
  cursor: pointer;
}

ul.hits li.collapsed p.description {
  display: none;
}

ul.hits li p.score,
.symbol p.footer {
  text-align: center;
  background: cornsilk;
  border-radius: 0 0 15px 15px;
  padding: 5px;
  margin: 10px 0 0 0;
}

/* representations */

ul.hits li.collapsed ul p.codepoint,
ul.hits li.collapsed ul p.package,
ul.hits li.collapsed ul p.command
{
	display: none;
}

ul.hits li ul, .symbol ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.hits li h4, .symbol h4 {
  margin: 30px 0 10px;
  padding: 0 10px;
}

ul.hits li ul li, .symbol ul li {
  margin: 10px 0;
  padding: 0 10px;
  border-top: 1px dashed whitesmoke;
}

ul.hits li.collapsed ul li {
  border: none;
}

ul.hits li.collapsed h4 {
  display: none;
}

ul.hits li.collapsed ul li {
  margin: 0;
  padding: 0;
}


ul.hits li.collapsed ul,
ul.hits li.collapsed ul li,
ul.hits li.collapsed ul li p
{
  display: inline;
}

ul.hits li ul li, p.score {
  clear: left;
}

ul.hits li ul.latex li img,
ul.hits li ul.unicode li p.char,
.symbol ul.latex li img,
.symbol ul.unicode li p.char
{
  padding: 5px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  float: left;
}

ul.hits li ul.unicode p.char kbd, .symbol ul.unicode p.char kbd {
  font-size: 30px;
}

ul.hits li.collapsed ul.latex li img,
ul.hits li.collapsed ul.unicode li p.char
{
  float: none;
}
